@import url();

:root {
    --cor-principal: #262597;
    --cor1: #58409f;
    --cor2: #f7ebff;
    --cor3: #68a3ba;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat'; /*o nome da sua fonte*/
}

#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}








.formulario{
    background-color: #FFFFFF;
    padding
}