@import url();

:root {
    --cor-principal: #262597;
    --cor1: #6c6091;
    --cor2: #f7ebff;
    --cor3: #68baa6;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat'; /*o nome da sua fonte*/








.formulario{
    background-color: #FFFFFF;
    padding
}